@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
}

.container {
    width: 100%;
    background: linear-gradient(to right, #2e3645 60%, #e1e1e1 40%);
    position: relative;
    overflow: hidden;
}

nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;  
    cursor: pointer;
}
nav ul li{
    margin:0 5px;
    cursor: pointer;
}
nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #e1e1e1;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
nav ul a:hover{
     color:#2e3645 ;
     cursor: pointer;
}
nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0px;
    border-radius: 20px;
    background-color:#00ee42;
    z-index: -1;
    transition: 0.5s;
}
nav ul a:hover:after{
    width: 100%;
}

.content-container{
    display: flex;
}

.main-content {
    width: 60%;
    padding-top: 10px;
    margin-left: 1rem;
    align-items: center;
    text-align: center;
    float: left;
}

.content{
  padding-right: 4%;
}

.content-section-right{
    margin: 2%;
    background-color: #e1e1e122;
    padding: 3%;
    border: 1px solid #00ee4328;
    border-radius: 40px 5px 40px 5px;
}
.content-section-left{
    margin: 2%;
    background-color: #e1e1e122;
    padding: 3%;
    border: 1px solid #00ee4328;
    border-radius: 5px 40px 5px 40px;
}

.content .title{
    margin-top: 4%;
    color: #fcbf49;
}

.content h4{
    text-align: center;
    color: #e1e1e1;
}

ul {
    color: #e1e1e1;
    text-align: left;
    list-style-type: circle;
  }

nav img{
    width: 80px;
    border-radius: 20%;
}

.main-text{
    display:inline-block;
}

.main-content h1 {
    display:inline;
    font-size: 60px;
    letter-spacing: 1px;
    color: #00ee42;
}
.main-content h6{
    display:inline;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #00ee42;
}

.right{
    max-width:40%;
    float:right;
    padding-top: 3%;
    display: grid;
    align-items: center;
}

.box{
    align-items: center;
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.image{
    width: 100%;
    border-radius: 5px;
    align-items: center;
  }

  .other-links {
    background-color: #fcbf49;
    box-shadow: 2px 2px 0 #89641b;
    color: #2e3645;
    font-size: 60%;
    padding: 0.7%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .other-links:hover {
    background-color: #edab26;
    cursor: pointer;
  }
  
  .other-links:active {
    box-shadow: none;
    top: 5px;
  }

 .table{
    padding-top: 2%;
    display: inline-block;
    width: 80%;
 }

  th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  tr:nth-child(1) {
    background-color: #edab26;
  }
  
  td:nth-child(1){
    padding: 1%;
    background-color: #99dcace1;
  }

  td:nth-child(2){
    padding: 1%;
    background-color: #d8c295;
  }
  
  th:nth-child(1) {
    background-color: #00ee42;
  }

